<div class="jumbotron">
	<h1 id="header">Discour your new favourite <br>podcast, or create your own</h1>
	<a href="#" class="button button_highlight">Create a Podcast</a>
	<a href="#" class="button button_white">Explore</a>
</div>